.home {
    margin-left: 217px;
    margin-top: 68px;
}

.home span {
    color: #FF0101;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.home h1 {
    color: #000;

    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 41px;
}

.home .felicitation {
    color: #000;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 71px;
}

.BarChart {
    width: 835px;
    height: 320px;
    background-color: #FBFBFB;
}

.CustomLegend h3 {
    color: #20253A;

    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.recharts-cartesian-axis-line {
    display: none;
}

.block1 {
    display: flex;
    gap: 31px;
}

.SessionChart {
    width: 258px;
    height: 263px;
    border-radius: 5px;
    background: #F00;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.PerformanceCharts {
    width: 258px;
    height: 263px;
    background: #282D30;
    border-radius: 5px;
}

.block2 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.CercleCharts {
    background: #FBFBFB;
    width: 258px;
    height: 263px;
    border-radius: 5px;
}
@media screen and (max-width: 1385px) { 

    .home{
        margin-left: 134px;
    }
}
@media screen and (max-width: 1307px) { 
    .block1 {
        flex-direction: column-reverse;
    }
   .Barreleft ul {
    display: grid;
    grid-template-columns: 300px 300px;
}
   
}
.copiryght{
    position: absolute;
    bottom: 158px;
}